<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">
      Crea<br>Tu Cuenta!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form>
      <ion-item class="custom-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input type="email" placeholder="Email" class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Nombre" class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input type="text" placeholder="Apellido" class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Contraseña" class="custom-input"></ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input type="password" placeholder="Repite Contraseña" class="custom-input"></ion-input>
      </ion-item>

      <!-- Checkbox de términos y condiciones -->
      <ion-item>
        <ion-checkbox slot="start"></ion-checkbox>
        <span>
          <span class="terms-link">Estoy de acuerdo con </span>
          <a href="/terminos-condiciones" class="terms-link">Términos y condiciones</a>
        </span>
      </ion-item>
      
    </form>

    <!-- Botón de guardar fuera del card -->
    <ion-button expand="full" class="guardar-button">Guardar</ion-button>
  </div>
</ion-content>
