<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="terms-container">
    <h2>Política de Privacidad</h2>
    <ol>
      <li>
        <strong>Introducción</strong>
        <p>Bienvenido a Te Llevo. Valoramos tu privacidad y nos comprometemos a proteger tu información personal. Esta Política de Privacidad describe cómo recopilamos, usamos, y protegemos tu información cuando utilizas nuestra aplicación móvil. Al utilizar nuestra app, aceptas los términos establecidos en esta política.</p>
      </li>
      <li>
        <strong>Información que Recopilamos</strong>
        <ol>
          <li><strong>Información Personal:</strong> Recopilamos información personal que tú nos proporcionas, como tu nombre, dirección de correo electrónico, número de teléfono, y detalles de tu perfil.</li>
          <li><strong>Información de Ubicación:</strong> Para ofrecerte nuestros servicios, recopilamos datos de ubicación precisos a través de tu dispositivo móvil.</li>
          <li><strong>Información de Pago:</strong> Si realizas pagos a través de la app, recopilamos información relacionada con las transacciones, incluyendo datos de tarjetas de crédito o débito.</li>
        </ol>
      </li>
    </ol>

    <h2>Términos y Condiciones</h2>
    <ol>
      <li>
        <strong>Aceptación de los Términos</strong>
        <p>Al acceder y utilizar la aplicación Te Llevo, aceptas estos Términos y Condiciones. Si no estás de acuerdo con estos términos, no utilices nuestra app.</p>
      </li>
      <li>
        <strong>Descripción del Servicio</strong>
        <p>Te Llevo es una aplicación móvil que facilita la conexión entre conductores y pasajeros para el transporte de personas en vehículos particulares.</p>
      </li>
      <li>
        <strong>Registro de Usuario</strong>
        <ol>
          <li><strong>Responsabilidad:</strong> Al registrarte en la app, eres responsable de proporcionar información precisa y actualizada.</li>
          <li><strong>Cuenta:</strong> Eres responsable de mantener la confidencialidad de tu cuenta.</li>
        </ol>
      </li>
      <li>
        <strong>Contacto</strong>
        <p>Para cualquier consulta sobre estos Términos y Condiciones, por favor contáctanos en:</p>
        <p>Correo electrónico: [tuemail.com]</p>
        <p>Dirección: [Tu dirección en Chile]</p>
      </li>
    </ol>
  </div>
</ion-content>
